<% if(error && error.length >0){ %> 
    <%error.forEach(errors =>{%>         
        <p id="msg" hidden><%=errors%></p>
    <% }) %>
    <script>
        const msg = document.getElementById('msg').innerText;
        Swal.fire(msg)
    </script> 
<% } %> 

<!--Error Message-->
<% if(danger_msg[0]) {%>
    <p id="msg_danger" hidden><%=danger_msg%></p>    
    <script>
        const msg_danger = document.getElementById('msg_danger').innerText;
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: msg_danger            
        })
    </script>
<% } %>

<!--Success Message-->
<% if(success_msg[0]) {%> 
    <p id="msg_success" hidden><%=success_msg%></p>
    <script>
        const msg_success = document.getElementById('msg_success').innerText;
        Swal.fire(
            'Exito!',
            msg_success,
            'success'
        )
    </script>
<% } %> 