<div class="col-3 card" id="right">
    <div class="card-header encabezado text-center">
        <a href="/profile/<%=user._id%>" style="color: white;">
          <ion-icon name="person-circle-outline"></ion-icon> Perfil: <%=user.username%>
        </a>
    </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          A list item
          <span class="badge bg-danger rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          A second list item
          <span class="badge bg-danger rounded-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          A third list item
          <span class="badge bg-danger rounded-pill">1</span>
        </li>
      </ul>
    <div class="card-body">        
        <p class="card-text vacante">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <a href="/out" class="btn color"><ion-icon name="log-out-outline"></ion-icon> Salir</a>
    </div>