body{
    font-family: 'Jost', sans-serif;
}
nav{
    background-color: #c40413;
    box-shadow: 2px 2px 10px #000;
}
#titles{
    color: white;
    font-size: 2em;
    font-weight: bold;
}
#items{
    font-size: 1.5em;
    padding-left: 1cm;
}
#active{
    background-color: #7e1a1c;
    color: white;
}
#active:hover{
    background-color: #ba6464;
    transition: 1s;
}
#otheritems{
    color: white;    
}
#otheritems:hover{
    background-color: #ba6464;
    transition: 1s;
}
#icono{
    color: white;
    font-size: 1.5em;
}